<!DOCTYPE html>
<html lang="en">


<%- include ("./partials/head") %>

<body class="Site">
    <div class="Site-content">
        <div class="wrapper">
            <h1 class="error-data"><%= message %></h1>
          <a class="errors-home" href="/">Search Again</a>
        </div>
    </div>
<%- include ("./partials/footer") %>
</body>

</html>