<!DOCTYPE html>
<html lang="en">
<%- include ("./partials/head") %>
<body class="Site">
    <div class="Site-content">
        <div class="wrapper">
            <h1 class="movie-data"><%= message %></h1>

            <form id="data" action="/results" method="GET">
                <input type="text" placeholder="Search" name="search" autofocus required>
                <button type="submit" name="data-submit">Submit</button>
            </form>
        </div>
    </div>
    <%- include ("./partials/footer") %>
    <script src="scripts/js/data.js"></script>
</body>
</html>